body{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}
:root{
		--primary-color: #2B615B;
	    --secondary-color: #30736C;
	    font-family: colibri;
	    
}
.newsheading{
	font-family: calibri;
	color:var(--primary-color);
	font-weight: 100;
}
.posts .col-md-4 .card .text-left{
	font-family: calibri;
	color: var(--primary-color);
	font-weight: 500;
} 
.posts .col-md-4 button{
	background:var(--primary-color);
	border: none;
}
.posts .col-md-4{
	margin-top: 10px;
}
.profileimage{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	left: 120px;
}

 .col-md-4 .card{
	color: var(--primary-color);
	font-family: calibri;
	margin-top: 5px;
}
.card-title{
	color: white;
	font-family: calibri;
	font-weight: 100;
}
.aside .adminheading{
	font-family: calibri;
	font-size: 22px;
	background:var(--primary-color);
	border-radius: 5px;
	color: white;
}
.relatedpost .badge{
	font-family: calibri;
	font-weight: 200;
	background: var(--primary-color);
	color: white;
	margin:0px 10px 0px 10px;
}
.relatedpost{
	font-family: calibri;
}
.relatedpost a{
	color: black;
	text-decoration: none;
	font-family: calibri;

}
.singlepost h5{
	font-family: calibri;
	color: var(--primary-color);
}
.category{
	font-family: calibri;
}
.category ul{
	list-style: none;
}
.category ul li{
	margin-top: 10px;
}
.category ul li a{
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 200;


}
.followus{
	font-family: calibri;
	text-align: center;
}
.followus i{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--secondary-color);
	padding: 14px;
	padding-left: 16px;
	font-size: 25px;
	color: white;
}
.card .admin ,.relatedpost .card-title, .category .card-title , .followus .card-title{
	background: var(--secondary-color);
	color: white;
	font-family: calibri;
	border-radius: 5px;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
}
.aside .card{
	border-left: 1px solid gray;
}